@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-bold: 'PT Sans Bold';

  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-blue: #81B3D2;
  --deep-blue: #669EC0;
  --dust-blue: #5496BD;

  --basic-gray: #EEEEEE;
  --words-gray: #666666;
  --muddy-gray: #766357;
  --muddy-gray-hover: #604E43;
  --muddy-gray-active: #503E33;
  --light-gray: #F2F2F2;
  --line-light-gray: #E5E5E5;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation */

.main-navigation {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  font-family: var(--font-bold);
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  opacity: 0.3;
  color: var(--basic-black);
}

.site-navigation-link-current {
  color: var(--muddy-gray);
}
/*Head*/
.logo {
  text-align: center;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Base-section*/

.features-list {
  list-style: none;
}

.base-section {
  text-align: center;
}

.base-text {
  font-size: 14px;
  line-height: 21px;
}

.base-title {
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 26px;
}

.features-title {
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 21px;
}

.booking-section-title {
  font-family: var(--font-bold);
  font-size: 30px;
  line-height: 24px;
}

.blue-block {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.gray-block {
  background-color: var(--basic-grey);
}

/*Popup*/
.button-search-hotel {
  width: 568px;
  height: 86px;
  background-color: var(--muddy-gray);
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-search-hotel:hover {
  background-color: var(--muddy-gray-hover);
}

.button-search-hotel:active {
  background-color: var(--muddy-gray-active);
  outline: none;
}

.search-hotel:active {
  opacity: 0.3;
}

.popup {
  display: none;
}

 /* Filter*/
.filter {
  color: var(--basic-white);
  background-image: url("../img/background-photo.jpg");
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
}
.filter fieldset {
    border: none;
}

.filter legend {
  font-family: var(--font-bold);
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
}

.filter-button {
  border: 2px solid;
  border-color: var(--basic-white);
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 0);
}

.filter-button:hover {
  background-color: var(--basic-white);
  border: 2px solid;
  border-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.button-sorting {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted;
  border-color: var(--basic-blue);
}

.button-sorting-current {
  color: var(--basic-blue);
  border: none;
}

.button-sorting-inactive {
  opacity: 0.3;
}

.button-sorting:hover {
  color: var(--basic-blue);
}

.button-sorting:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

/*Catalog*/

.hotels-list {
  list-style: none;
}

.hotels-list .base-title:hover {
  color: var(--basic-blue);
}

.hotels-list .base-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Catalog's buttons*/
.button-details {
  font-family: var(--font-bold);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 16px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.button-details:hover {
  background-color: var(--deep-blue);
}

.button-details:active {
  background-color: var(--dust-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-reserve {
  font-family: var(--font-bold);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--muddy-gray);
  border: none;
}

.button-reserve:hover {
  background-color: var(--muddy-gray-hover);
}

.button-reserve:active {
  background-color: var(--muddy-gray-active);
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 12px;
  text-align: center;
  color: var(--words-gray);
  text-transform: uppercase;
  background-color: var(--light-gray);
  border: none;
}

/*Footer*/
.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;
  font-size: 14px;
  line-height: 26px;
}

.footer-contacts {
  font-family: var(--font-bold);
  font-size: 21px;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  text-align: center;
  text-decoration: none;
}

.footer-social a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social ul {
  list-style: none;
}

.link-academy {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.link-academy-logo {
  vertical-align: middle;
  text-decoration: none;
}

.icon-academy:hover path {
  fill: var(--basic-blue);
}

.icon-academy:active path {
  fill: var(--basic-black);
  opacity: 0.3;
}

/*Socai button*/

.social-button {

}

.visually-hidden {
  visibility: hidden;
}
