@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-base: 'PT Sans', 'Arial', sans-serif;
  --font-bold: 'PT Sans Bold', 'Arial', sans-serif;

  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-blue: #81B3D2;
  --deep-blue: #669EC0;
  --dust-blue: #5496BD;

  --basic-gray: #EEEEEE;
  --words-gray: #666666;
  --icon-gray: #A9A9A9;
  --triangle-gray: #CACACA;
  --muddy-gray: #766357;
  --muddy-gray-hover: #604E43;
  --muddy-gray-active: #503E33;
  --light-gray: #F2F2F2;
  --line-light-gray: #E5E5E5;
  --gray-for-input: #EBEBEB;
  --toggle-gray: #ABABAB;
  --locked-gray:#6A6A6A;

}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: var(--font-base);
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-body {
  background-color: var(--basic-gray);
}

.main-content {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
}

.site-navigation-item {
  flex-basis: 264px;
}

.site-navigation-item:first-child {
  text-align: left;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
  margin-right: 72px;
}

.site-navigation-item:nth-child(3) {
  text-align: right;
  margin-left: 72px;
}

.site-navigation-item:last-child {
  text-align: right;
}

.site-navigation-link {
  color: var(--basic-black);
  font-family: var(--font-bold);
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

.site-navigation-link:hover {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  opacity: 0.3;
  color: var(--basic-black);
}

.site-navigation-link-current {
  color: var(--muddy-gray);
}

.logo {
  position: relative;
  z-index: 1;
  text-align: center;
  min-height: 509px;
  background-color: var(--dust-blue);
  background-image: url("../img/white-peaks.svg"),
                    url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: auto, cover;
  margin: 0;
}

.logo-picture {
  padding-top: 77px;
  padding-bottom: 75px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
}

.features-list-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
}

.blue-block {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.gray-block {
  background-color: var(--basic-gray);
  padding-top: 48px;
  padding-bottom: 54px;
  padding-left: 70px;
  padding-right: 70px;
}

.grid-feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
  grid-column: 1 / 4;
}

.grid-feature-element-blue-block {
  grid-column: 3 / 4;
}

.feature-photo-1 {
  grid-column: 2 / 4;
  margin: auto;
}

.feature-photo-2 {
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.base-section {
  text-align: center;
  position: relative;
}

.base-text {
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
  margin-top: 25px;
}

.base-title {
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 46px;
}

.features-title {
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.features-item {
  padding-top: 61px;
  padding-bottom: 82px;
  padding-left: 50px;
  padding-right: 50px;
}

.features-item-present {
  padding-top: 56px;
}

.features-item-house::before {
  content: "";
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 26px;
  width: 76px;
  height: 72px;
}

.features-item-burger::before {
  content: "";
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 26px;
  width: 76px;
  height: 72px;
}

.features-item-present::before {
  content: "";
  display: block;
  background-image: url("../img/icon-present.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 25px;
  width: 64px;
  height: 78px;
}

.booking-section-title {
  font-family: var(--font-bold);
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.base-text-bbking-section {
  line-height: 24px
}

.button-search-hotel {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  width: 568px;
  height: 86px;
  background-color: var(--muddy-gray);
  border: none;
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.search-hotel {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 124px;
  padding-right: 124px;
}

.button-search-hotel:hover {
  background-color: var(--muddy-gray-hover);
}

.button-search-hotel:active {
  background-color: var(--muddy-gray-active);
}

.search-hotel:active {
  opacity: 0.3;
}

.popup {
  position: absolute;
  width: 568px;
  right: 316px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.popup .button {
  display: block;
  width: 100%;
  margin-top: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.popup .button:hover {
  background-color: var(--deep-blue);
}

.popup .button:active {
  background-color: var(--dust-blue);
  color: rgba(255, 255, 255, 0.3);
}

.visit-form {
  padding: 55px;
}

.visit-form-number-of-people {
  display: flex;
  justify-content: space-between;
}

.visit-item {
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--font-bold);
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.visit-item input {
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--light-gray);
  border: none;
  box-sizing: border-box;
  font: inherit;
}

.visit-item-1 {
  display: flex;
}

.visit-item-1 input {
  width: 308px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 14px;
}

.visit-item-1 input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--light-gray);
  outline: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 38px;
  vertical-align: middle;
}

.visit-item-1 input:hover {
  background-color: var(--gray-for-input);
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 14px;
  border: none;
}

.visit-item-2 {
  display: flex;
}

.visit-item-2 input {
  text-align: center;
  width: 38px;
}

.arrival-date {
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.departure-date {
  padding-right: 19px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.adults {
  padding-right: 38px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.children {
  padding-right: 28px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.calendar-button {
  width: 38px;
  height: 38px;
  background-color: var(--light-gray);
  padding: 0;
  border: none;
  cursor: pointer;
}

.visit-icon-minus {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.visit-icon-plus {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.visit-icons {
  fill: var(--icon-gray);
}

.visit-icons:hover svg {
  fill: var(--basic-black);
}

.visit-icons:active svg {
  fill: var(--basic-blue);
}

.reduce-button {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
}

.increase-button {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
}

.map {
  min-height: 594px;
  background-color: var(--basic-gray);
}

.visit-item-2 input, .price input::-webkit-inner-spin-button,
.visit-item-2 input, .price input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visit-item-2 input, .price input {
  -moz-appearance: textfield;
}

.visit-item-2 input::-webkit-inner-spin-button,
.visit-item-2 input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visit-item-2 input, .price input {
  -moz-appearance: textfield;
}

.filter {
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  color: var(--basic-white);
  background-image: url("../img/background-filter-hotels.jpg");
  background-color: var(--dust-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-buildings {
  padding-left: 72px;
  padding-top: 22px;
}

.filter-houses {
  padding-left: 26px;
  padding-top: 22px;
}

.filter-price {
  margin-left: auto;
  padding-right: 70px;
  padding-top: 22px;
  padding-bottom: 32px;
}

.filter legend {
  font-family: var(--font-bold);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 47px;
  margin: auto;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-top: 2px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  cursor: pointer;
}

.filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  display: none;
  left: -40px;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  border: 2px solid var(--locked-gray);
  border-radius: 3px;
  left: -40px;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-checkbox:disabled + input::before {
  content: "";
  position: absolute;
  display: none;
  left: -40px;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.range-filter {
  margin-bottom: 32px;
}

.scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.controler {
  position: relative;
}

.price-control {
  display: flex;
  width: 316px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.min-start {
  margin-left: auto;
}

.max-start {
  margin-left: auto;
}

.price input {
  background-color: transparent;
  width: 80px;
  height: 30px;
  color: var(--basic-white);
  text-align: left;
  border: none;
}

.price input:active, :focus {
  outline: none;
}

.price input[type=number]::-webkit-inner-spin-button,
.price input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-start input {
  width: 56px;
}

.line::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  top: 5px;
  right: 158px;
}

.controler .scale-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.controler .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.controler .toggle:hover {
  width: 5px;
  height: 5px;
}

.controler .toggle-min {
  left: 0px;
}

.controler .toggle-max {
  left: 250px;
}

.button-show {
  display: block;
  margin-left: 86px;
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--basic-white);
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 0);
}

.button-show:hover {
  background-color: var(--basic-white);
  border: 2px solid;
  border-color: var(--basic-white);
  color: var(--basic-black);
}

.button-show:hover {
}

.base-title-search {
  font-family: var(--font-bold);
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.filter-results {
  display: flex;
  flex-direction: row;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 29px;
  padding-bottom: 32px;
  align-items: baseline;
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--line-light-gray);
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-left: 48px;
  align-self: center;
}

.button-sorting {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted;
  border-color: var(--basic-blue);
  padding: 0;
  margin-left: 30px;
}

.button-sorting-current {
  color: var(--basic-blue);
  border: none;
  margin-left: 36px;
}

.button-sorting-inactive {
  opacity: 0.3;
}

.button-sorting:hover {
  color: var(--basic-blue);
}

.button-sorting:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.sorting-buttons-group {
  margin: 0;
  margin-left: auto;
}

.sorting-button {
  border: none;
  background-color: var(--basic-white);
  padding: 2px;
}

.sorting-buttons-triangle {
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
}

.sorting-buttons-2 {
  transform: rotate(-180deg);
}

.sorting-buttons-triangle svg {
  fill: var(--triangle-gray);
}

.sorting-buttons-triangle:hover svg {
  fill: var(--basic-black);
}

.sorting-buttons-triangle:active svg{
  fill: var(--basic-blue);
}

.sorting-buttons-triangle-curent svg{
  fill: var(--basic-blue);
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results {
  background-color: var(--basic-white);
}

.hotel-item {
  display: flex;
  flex-direction: row;
}

.hotel-item-image{
  margin-top: 6px;
}

.hotel-item-element {
  margin-left: 30px;
  flex-grow: 2;
}

.hotels-list .hotel-item {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--line-light-gray);
}

.base-title-hotel {
  font-family: var(--font-bold);
  margin: auto;
  line-height: 26px;
  color: var(--basic-black);
}

.base-title-hotel:hover {
  color: var(--basic-blue);
}

.base-title-hotel:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.base-text-hotel {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 16px;
  width: 108px;
}

.rating {
  color: var(--words-gray);
  background-color: var(--light-gray);
  margin-left: auto;
  margin-top: 70px;
}

.rating-star {
  position: relative;
}

.rating-star-1::before {
  content: "";
  position: absolute;
  width: 88px;
  height: 18px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  right: 0;
  top: 5px;
}

.rating-star-2::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 18px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  right: 0;
  top: 5px;
}

.rating-star-3::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 18px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  right: 0;
  top: 5px;
}

.hotel-button {
  display: flex;
  margin: auto;
}

.button-box {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.details {
  font-family: var(--font-bold);
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-right: 6px;
}

.details:hover {
  background-color: var(--deep-blue);
}

.details:active {
  background-color: var(--dust-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-reserve {
  font-family: var(--font-bold);
  color: var(--basic-white);
  background-color: var(--muddy-gray);
}

.button-reserve:hover {
  background-color: var(--muddy-gray-hover);
}

.button-reserve:active {
  background-color: var(--muddy-gray-active);
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  position: relative;
  color: var(--basic-black);
  background-color: rgba(255,255,255, 0.9);
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-main-page {
  margin-top: -126px;
}

.contact-link {
  display: flex;
  flex-direction: column;
}

.footer-contacts p {
  font-family: var(--font-bold);
  text-align: center;
  font-size: 21px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 36px;
  padding-left: 72px;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.tel-link {
  margin-top: 9px;
}

.footer-social {
  align-self: center;
  text-decoration: none;
}

.footer-link {
  margin: 0;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 64px;
}

.footer-social a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-link-academy {
  font-size: 14px;
  line-height: 26px;
  margin-right: 8px;
  color: var(--basic-black);
}

.footer-link-academy-logo {
  vertical-align: middle;
}

.icon-academy:hover {
  fill: var(--basic-blue);
}

.icon-academy:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: var(--basic-blue);
}

.social-icon {
  fill: var(--basic-white);
}

.social-button:hover {
  background-color: var(--deep-blue);
}

.social-button:active {
  background-color: var(--dust-blue);
}

.social-icon:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
